<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>google-recaptcha demo</title>

    <script src="../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

    <script type="module">
      import '@polymer/iron-demo-helpers/demo-pages-shared-styles';
      import '@polymer/iron-demo-helpers/demo-snippet';
    </script>

    <script type="module" src="../google-recaptcha.js"></script>
    <script type="module" src="../node_modules/@polymer/paper-button/paper-button.js"></script>
    <script>

    window.onloadGrecaptchaCallback = function() {
  this.dispatchEvent(new Event('grecaptcha-loaded', {bubbles: true, composed: true}));
  window.fetchingGrecaptchaLibrary = false;
}
    </script>

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic google-recaptcha demo</h3>
      <demo-snippet>
        <template>
          <google-recaptcha
          id="v2Recaptcha"
            force-in-body
          value="{{v2token}}"
          sitekey="6Ld5h3MUAAAAAGD54nlJBQR0H5Hic4svPiyr3juD"
          ></google-recaptcha>
           <paper-button on-tap="reset">Reset </paper-button>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
